	body{padding: 0px;margin: 0px;box-sizing: border-box; 
		background-image: url("C:/xampp/htdocs/Nhavi/image/img2.jpg");background-size: cover;}

	table{padding-top: 0px; padding-right: 60px;margin-right: 50px;}

	th{color: lightslategrey; font-size: 30px; padding: 20px;}

	input{padding: 10px;border-radius: 50px; background-color: black;
	 color: floralwhite;width: 120%;font-size: 20px;	font-family: sans-serif;}
	 
	#label{color: salmon;font-weight: bold; text-align: right; font-size: 70px;font-family: gabriola;
		font-style: bold; word-spacing: 5px;letter-spacing: 5px;margin-right: 50px;}